body {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}

.roundedDiv {
	background-color: #FFFF99;
	border-radius: 10px;
	margin-bottom: 60px;
	border: 2px solid #FFFF99;
}

#mainHeader {
	margin: 0 0 20px 0;
	color: black;
	text-align: center;
	font-family: 'Roboto Slab', serif;
}

.sessionHeader {
	padding: 5px 0 5px 10px;
	background-color: black;
	color: white;
	text-align: left;
	font-family: 'Roboto Slab', serif;
}

.trainSchedule {
	padding: 5px 5px 0 10px;
	background-color: lightyellow;
	border: 1px solid #FFFF99;
	font-family: 'Roboto Slab', serif;
	line-height: 125%;
	color: black;
}

button {
	background-color: black;
	color: #fff;
}

form {
	padding: 10px 10px 10px 10px;
	margin-bottom: 20px;
	background-color: lightyellow;
	border: 1px solid #FFFF99;
	font-family: 'Roboto Slab', serif;
	line-height: 125%;
	color: black;
}

input {
	width: 100%;
}